<footer class="site-footer">
    <nav class="site-nav">
        <ul>
            <li>
                <a href="{{ prepend: site.baseurl | prepend: site.url }}/">Home</a>
            </li>
            {% for page in site.pages %}
                {% if page.title %}
                    <li>
                        <a href="{{ page.url | prepend: site.baseurl | prepend: site.url }}">{{ page.title }}</a>
                    </li>
                {% endif %}
            {% endfor %}
            <li>
                <a href="https://github.com/{{ site.github_username }}">Github</a>
            </li>
        </ul>
    </nav>
</footer>
